/** ID **/
#animationKeys {
  font-size: 24px;
}

/** CLASSES **/
.slds-carousel__content {
  height: 480px;
}

.portrait {
  width: auto;
  display: inline-block;
}

.portrait img {
  width: 50%; /* Will shrink image to 30% of its original width */
  height: auto;
}​
