/** ID **/
#animationKeys {
  font-size: 24px;
}

/** CLASSES **/
.standard-img {
  height: 96px;
  width: 96px;
}

.slds-carousel__content {
  height: 480px;
  outline: none;
}

.portrait {
  width: auto;
  display: inline-block;
}

.portrait img {
  width: 50%;
  height: auto;
}​

.skill_bar {
  width:600px;
  height:50px;
  background:#c0c0c0;
  margin-bottom:5px;
}

.skill_bar_progress {
  width:0%;
  height:100px;
  background:#00f;
}
